---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import VisualCapabilities from '../components/VisualCapabilities.astro';
import BentoGrid from '../components/BentoGrid.astro';
import CodeCompare from '../components/CodeCompare.astro';
import Comparison from '../components/Comparison.astro';
import Philosophy from '../components/Philosophy.astro';
import Roadmap from '../components/Roadmap.astro';
import Cta from '../components/Cta.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  
  <main>
    <Hero />
    <VisualCapabilities />
    <CodeCompare />
    <BentoGrid />
    <Comparison />
    <Philosophy />
    <Roadmap />
    <Cta />
  </main>

  <Footer />
</Layout>
